
.hero-unit {
	background-image: url('../media/bookshelf-dim2.jpg');
	color: #FFF;
	text-align: center;
}

footer  {
	text-align: center;
}

ul.nav a {
	font-weight: bold;
}


.map-book-title {
font-size: 13px;
font-weight: bold;
color; #999;
}

.map-price {
font-size: 18px;
font-weight: bold;
color: #33CC33;
}	

.consignerlibrary {
	max-width: 1300px;
    height: 480px;
    border: 3px solid #8AC007;
	background-image: url('../media/library.jpg');
	color: #FFF;
	text-align: center;
}

.para {
font-size: 20px;
font-weight: bold;
color: ##636387;
text-align: center;
line-height: 2em;
}	

.contact {
font-size: 16px;
font-weight: bold;
color: #0066FF;
text-align: center;

}	