
 
 <div class="result_listing">
 <div class="number">1.</div>
 <div class="info">
 <div class="product_thumb">
 <a href="/textbooks/elementary-statistics-12th-edition/9780321836960" >
 
  
 <div class="book_image_container">
 <img src="http://img.valorebooks.com/W120/97/9780/978032/9780321836960.jpg" width="91" alt="Elementary Statistics" /> 
 <div class="book_binding"></div>
 </div>
 
 
 </a>
 </div>
 
 
 
 
 
 
 

 <div class="desc">
 <a href="/textbooks/elementary-statistics-12th-edition/9780321836960"  class="product_title">Elementary Statistics</a> 
 <span class="by">by Triola, Mario F.</span>
 <span class="results_list_price">ISBN: 9780321836960</span> 
 
 <span class="results_list_price">List Price: $175.33</span>
 </div>
 </div>
 <div class="price">
 <a href="/textbooks/elementary-statistics-12th-edition/9780321836960#default=buy" class="buy_it">$79.86
 <span class="savingsBuy">(Save 54%)</span>
 </a>
 <a href="/textbooks/elementary-statistics-12th-edition/9780321836960#default=rent" class="rent_it">$22.00
 <span class="savingsRent">(Save 87%)</span> 
 </a>
 <a rel="nofollow" href="/SellBack.AddItem_AddItem.do?query=9780321836960#AddRemoveDestAnchor" rel="nofollow" class="sell_it">Own it? Sell it back for <span>$51.73</span></a>
 </div></div><div class="result_listing">
 <div class="number">2.</div>
 <div class="info">
 <div class="product_thumb">
 <a href="/textbooks/organizational-behavior-16th-edition/9780133507645" >
 
  
 <div class="book_image_container">
 <img src="http://img.valorebooks.com/W120/97/9780/978013/9780133507645.jpg" width="91" alt="Organizational Behavior" /> 
 <div class="book_binding"></div>
 </div>
 
 
 </a>
 </div>
 
 
 
 
 
 
 

 <div class="desc">
 <a href="/textbooks/organizational-behavior-16th-edition/9780133507645"  class="product_title">Organizational Behavior</a> 
 <span class="by">by Robbins, Stephen P., Judge,...</span>
 <span class="results_list_price">ISBN: 9780133507645</span> 
 
 <span class="results_list_price">List Price: $227.80</span>
 </div>
 </div>
 <div class="price">
 <a href="/textbooks/organizational-behavior-16th-edition/9780133507645#default=buy" class="buy_it">$51.06
 <span class="savingsBuy">(Save 77%)</span>
 </a>
 <a href="/textbooks/organizational-behavior-16th-edition/9780133507645#default=rent" class="rent_it">$68.14
 <span class="savingsRent">(Save 70%)</span> 
 </a>
 <a rel="nofollow" href="/SellBack.AddItem_AddItem.do?query=9780133507645#AddRemoveDestAnchor" rel="nofollow" class="sell_it">Own it? Sell it back for <span>$84.88</span></a>
 </div></div><div class="result_listing">
 <div class="number">3.</div>
 <div class="info">
 <div class="product_thumb">
 <a href="/textbooks/my-math-lab-student-access-kit/9780321199911" >
 
  
 <div class="book_image_container">
 <img src="http://img.valorebooks.com/W120/97/9780/978032/9780321199911.jpg" width="91" alt="My Math Lab Student Access Kit" /> 
 <div class="book_binding"></div>
 </div>
 
 
 </a>
 </div>
 
 
 
 
 
 
 

 <div class="desc">
 <a href="/textbooks/my-math-lab-student-access-kit/9780321199911"  class="product_title">My Math Lab Student Access Kit</a> 
 <span class="by">by Mathematics, Addison-Wesley</span>
 <span class="results_list_price">ISBN: 9780321199911</span> 
 
 <span class="results_list_price">List Price: $86.67</span>
 </div>
 </div>
 <div class="price">
 <a href="/textbooks/my-math-lab-student-access-kit/9780321199911#default=buy" class="buy_it">$80.15
 <span class="savingsBuy">(Save 7%)</span>
 </a>
 <a rel="nofollow" href="/SellBack.AddItem_AddItem.do?query=9780321199911#AddRemoveDestAnchor" rel="nofollow" class="sell_it">Own it? Sell it back for <span>$33.22</span></a>
 </div></div><div class="result_listing">
 <div class="number">4.</div>
 <div class="info">
 <div class="product_thumb">
 <a href="/textbooks/management-information-systems-13th-edition/9780133050691" >
 
  
 <div class="book_image_container">
 <img src="http://img.valorebooks.com/W120/97/9780/978013/9780133050691.jpg" width="91" alt="Management Information Systems" /> 
 <div class="book_binding"></div>
 </div>
 
 
 </a>
 </div>
 
 
 
 
 
 
 

 <div class="desc">
 <a href="/textbooks/management-information-systems-13th-edition/9780133050691"  class="product_title">Management Information Systems</a> 
 <span class="by">by Laudon, Kenneth C., Laudon,...</span>
 <span class="results_list_price">ISBN: 9780133050691</span> 
 
 <span class="results_list_price">List Price: $230.00</span>
 </div>
 </div>
 <div class="price">
 <a href="/textbooks/management-information-systems-13th-edition/9780133050691#default=buy" class="buy_it">$45.97
 <span class="savingsBuy">(Save 80%)</span>
 </a>
 <a href="/textbooks/management-information-systems-13th-edition/9780133050691#default=rent" class="rent_it">$18.98
 <span class="savingsRent">(Save 91%)</span> 
 </a>
 <a rel="nofollow" href="/SellBack.AddItem_AddItem.do?query=9780133050691#AddRemoveDestAnchor" rel="nofollow" class="sell_it">Own it? Sell it back for <span>$38.40</span></a>
 </div></div><div class="result_listing">
 <div class="number">5.</div>
 <div class="info">
 <div class="product_thumb">
 <a href="/textbooks/management-12th-edition/9780133043600" >
 
  
 <div class="book_image_container">
 <img src="http://img.valorebooks.com/W120/97/9780/978013/9780133043600.jpg" width="91" alt="Management" /> 
 <div class="book_binding"></div>
 </div>
 
 
 </a>
 </div>
 
 
 
 
 
 
 

 <div class="desc">
 <a href="/textbooks/management-12th-edition/9780133043600"  class="product_title">Management</a> 
 <span class="by">by Robbins, Coulter, Mary</span>
 <span class="results_list_price">ISBN: 9780133043600</span> 
 
 <span class="results_list_price">List Price: $239.00</span>
 </div>
 </div>
 <div class="price">
 <a href="/textbooks/management-12th-edition/9780133043600#default=buy" class="buy_it">$25.08
 <span class="savingsBuy">(Save 89%)</span>
 </a>
 <a href="/textbooks/management-12th-edition/9780133043600#default=rent" class="rent_it">$13.59
 <span class="savingsRent">(Save 94%)</span> 
 </a>
 <a rel="nofollow" href="/SellBack.AddItem_AddItem.do?query=9780133043600#AddRemoveDestAnchor" rel="nofollow" class="sell_it">Own it? Sell it back for <span>$12.69</span></a>
 </div></div><div class="result_listing">
 <div class="number">6.</div>
 <div class="info">
 <div class="product_thumb">
 <a href="/textbooks/materials-science-and-engineering-an-introduction-9th-edition/9781118477700" >
 
  
 <div class="book_image_container">
 <img src="http://img.valorebooks.com/W120/97/9781/978111/9781118477700.jpg" width="91" alt="Materials Science and Engineering : An Introduction" /> 
 <div class="book_binding"></div>
 </div>
 
 
 </a>
 </div>
 
 
 
 
 
 
 

 <div class="desc">
 <a href="/textbooks/materials-science-and-engineering-an-introduction-9th-edition/9781118477700"  class="product_title">Materials Science and Engineering : An Introduction</a> 
 <span class="by">by Callister</span>
 <span class="results_list_price">ISBN: 9781118477700</span> 
 
 <span class="results_list_price">List Price: $146.95</span>
 </div>
 </div>
 <div class="price">
 <a href="/textbooks/materials-science-and-engineering-an-introduction-9th-edition/9781118477700#default=buy" class="buy_it">$125.67
 <span class="savingsBuy">(Save 14%)</span>
 </a>
 <a href="/textbooks/materials-science-and-engineering-an-introduction-9th-edition/9781118477700#default=rent" class="rent_it">$81.52
 <span class="savingsRent">(Save 44%)</span> 
 </a>
 <a rel="nofollow" href="/SellBack.AddItem_AddItem.do?query=9781118477700#AddRemoveDestAnchor" rel="nofollow" class="sell_it">Own it? Sell it back for <span>$58.35</span></a>
 </div></div><div class="result_listing">
 <div class="number">7.</div>
 <div class="info">
 <div class="product_thumb">
 <a href="/textbooks/mechanics-of-materials-7th-edition/9780073398235" >
 
  
 <div class="book_image_container">
 <img src="http://img.valorebooks.com/W120/97/9780/978007/9780073398235.jpg" width="91" alt="Mechanics of Materials" /> 
 <div class="book_binding"></div>
 </div>
 
 
 </a>
 </div>
 
 
 
 
 
 
 

 <div class="desc">
 <a href="/textbooks/mechanics-of-materials-7th-edition/9780073398235"  class="product_title">Mechanics of Materials</a> 
 <span class="by">by Beer, Ferdinand, Johnston, ...</span>
 <span class="results_list_price">ISBN: 9780073398235</span> 

 </div>
 </div>
 <div class="price">
 <a href="/textbooks/mechanics-of-materials-7th-edition/9780073398235#default=buy" class="buy_it">$46.40
 </a>
 <a href="/textbooks/mechanics-of-materials-7th-edition/9780073398235#default=rent" class="rent_it">$31.61 
 </a>
 <a rel="nofollow" href="/SellBack.AddItem_AddItem.do?query=9780073398235#AddRemoveDestAnchor" rel="nofollow" class="sell_it">Own it? Sell it back for <span>$97.05</span></a>
 </div></div><div class="result_listing">
 <div class="number">8.</div>
 <div class="info">
 <div class="product_thumb">
 <a href="/textbooks/applied-statistics-and-probability-for-engineers-6th-edition/9781118539712" >
 
  
 <div class="book_image_container">
 <img src="http://img.valorebooks.com/W120/97/9781/978111/9781118539712.jpg" width="91" alt="Applied Statistics and Probability for Engineers" /> 
 <div class="book_binding"></div>
 </div>
 
 
 </a>
 </div>
 
 
 
 
 
 
 

 <div class="desc">
 <a href="/textbooks/applied-statistics-and-probability-for-engineers-6th-edition/9781118539712"  class="product_title">Applied Statistics and Probability for Engineers</a> 
 <span class="by">by Montgomery, Douglas C.</span>
 <span class="results_list_price">ISBN: 9781118539712</span> 
 
 <span class="results_list_price">List Price: $208.95</span>
 </div>
 </div>
 <div class="price">
 <a href="/textbooks/applied-statistics-and-probability-for-engineers-6th-edition/9781118539712#default=buy" class="buy_it">$100.00
 <span class="savingsBuy">(Save 52%)</span>
 </a>
 <a href="/textbooks/applied-statistics-and-probability-for-engineers-6th-edition/9781118539712#default=rent" class="rent_it">$41.37
 <span class="savingsRent">(Save 80%)</span> 
 </a>
 <a rel="nofollow" href="/SellBack.AddItem_AddItem.do?query=9781118539712#AddRemoveDestAnchor" rel="nofollow" class="sell_it">Own it? Sell it back for <span>$79.93</span></a>
 </div></div><div class="result_listing">
 <div class="number">9.</div>
 <div class="info">
 <div class="product_thumb">
 <a href="/textbooks/international-business-15th-edition/9780133457230" >
 
  
 <div class="book_image_container">
 <img src="http://img.valorebooks.com/W120/97/9780/978013/9780133457230.jpg" width="91" alt="International Business" /> 
 <div class="book_binding"></div>
 </div>
 
 
 </a>
 </div>
 
 
 
 
 
 
 

 <div class="desc">
 <a href="/textbooks/international-business-15th-edition/9780133457230"  class="product_title">International Business</a> 
 <span class="by">by Daniels, John, Radebaugh, L...</span>
 <span class="results_list_price">ISBN: 9780133457230</span> 
 
 <span class="results_list_price">List Price: $227.80</span>
 </div>
 </div>
 <div class="price">
 <a href="/textbooks/international-business-15th-edition/9780133457230#default=buy" class="buy_it">$60.54
 <span class="savingsBuy">(Save 73%)</span>
 </a>
 <a href="/textbooks/international-business-15th-edition/9780133457230#default=rent" class="rent_it">$41.25
 <span class="savingsRent">(Save 81%)</span> 
 </a>
 <a rel="nofollow" href="/SellBack.AddItem_AddItem.do?query=9780133457230#AddRemoveDestAnchor" rel="nofollow" class="sell_it">Own it? Sell it back for <span>$93.59</span></a>
 </div></div><div class="result_listing">
 <div class="number">10.</div>
 <div class="info">
 <div class="product_thumb">
 <a href="/textbooks/research-methods-in-psychology-evaluating-a-world-of-information-2nd-edition/9780393936933" >
 
  
 <div class="book_image_container">
 <img src="http://img.valorebooks.com/W120/97/9780/978039/9780393936933.jpg" width="91" alt="Research Methods in Psychology : Evaluating a World of Information" /> 
 <div class="book_binding"></div>
 </div>
 
 
 </a>
 </div>
 
 
 
 
 
 
 

 <div class="desc">
 <a href="/textbooks/research-methods-in-psychology-evaluating-a-world-of-information-2nd-edition/9780393936933"  class="product_title">Research Methods in Psychology : Evaluating a World of Information</a> 
 <span class="by">by Morling, Beth</span>
 <span class="results_list_price">ISBN: 9780393936933</span> 

 </div>
 </div>
 <div class="price">
 <a href="/textbooks/research-methods-in-psychology-evaluating-a-world-of-information-2nd-edition/9780393936933#default=buy" class="buy_it">$79.94
 </a>
 <a href="/textbooks/research-methods-in-psychology-evaluating-a-world-of-information-2nd-edition/9780393936933#default=rent" class="rent_it">$39.57 
 </a>
 <a rel="nofollow" href="/SellBack.AddItem_AddItem.do?query=9780393936933#AddRemoveDestAnchor" rel="nofollow" class="sell_it">Own it? Sell it back for <span>$57.29</span></a>
 </div></div><div class="result_listing">
 <div class="number">11.</div>
 <div class="info">
 <div class="product_thumb">
 <a href="/textbooks/rules-for-writers-7th-edition/9780312647360" >
 
  
 <div class="book_image_container">
 <img src="http://img.valorebooks.com/W120/97/9780/978031/9780312647360.jpg" width="91" alt="Rules for Writers" /> 
 <div class="book_binding"></div>
 </div>
 
 
 </a>
 </div>
 
 
 
 
 
 
 

 <div class="desc">
 <a href="/textbooks/rules-for-writers-7th-edition/9780312647360"  class="product_title">Rules for Writers</a> 
 <span class="by">by Hacker, Diana, Sommers, Nancy</span>
 <span class="results_list_price">ISBN: 9780312647360</span> 

 </div>
 </div>
 <div class="price">
 <a href="/textbooks/rules-for-writers-7th-edition/9780312647360#default=buy" class="buy_it">$22.32
 </a>
 <a href="/textbooks/rules-for-writers-7th-edition/9780312647360#default=rent" class="rent_it">$48.64 
 </a>
 <a rel="nofollow" href="/SellBack.AddItem_AddItem.do?query=9780312647360#AddRemoveDestAnchor" rel="nofollow" class="sell_it">Own it? Sell it back for <span>$7.02</span></a>
 </div></div><div class="result_listing">
 <div class="number">12.</div>
 <div class="info">
 <div class="product_thumb">
 <a href="/textbooks/operations-management-creating-value-along-the-supply-chain-8th-edition/9781118462676" >
 
  
 <div class="book_image_container">
 <img src="http://img.valorebooks.com/W120/97/9781/978111/9781118462676.jpg" width="91" alt="Operations Management: Creating Value Along the Supply Chain" /> 
 <div class="book_binding"></div>
 </div>
 
 
 </a>
 </div>
 
 
 
 
 
 
 

 <div class="desc">
 <a href="/textbooks/operations-management-creating-value-along-the-supply-chain-8th-edition/9781118462676"  class="product_title">Operations Management: Creating Value Along the Supply Chain</a> 
 <span class="by">by Roberta S. Russell</span>
 <span class="results_list_price">ISBN: 9781118462676</span> 
 
 <span class="results_list_price">List Price: $251.95</span>
 </div>
 </div>
 <div class="price">
 <a href="/textbooks/operations-management-creating-value-along-the-supply-chain-8th-edition/9781118462676#default=buy" class="buy_it">$100.00
 <span class="savingsBuy">(Save 60%)</span>
 </a>
 <a href="/textbooks/operations-management-creating-value-along-the-supply-chain-8th-edition/9781118462676#default=rent" class="rent_it">$99.98
 <span class="savingsRent">(Save 60%)</span> 
 </a>
 <a rel="nofollow" href="/SellBack.AddItem_AddItem.do?query=9781118462676#AddRemoveDestAnchor" rel="nofollow" class="sell_it">Own it? Sell it back for <span>$109.50</span></a>
 </div></div><div class="result_listing">
 <div class="number">13.</div>
 <div class="info">
 <div class="product_thumb">
 <a href="/textbooks/shortell-and-kaluznys-healthcare-management-organization-design-and-behavior-6th-edition/9781435488182" >
 
  
 <div class="book_image_container">
 <img src="http://img.valorebooks.com/W120/97/9781/978143/9781435488182.jpg" width="91" alt="Shortell and Kaluzny's Healthcare Management: Organization Design and Behavior" /> 
 <div class="book_binding"></div>
 </div>
 
 
 </a>
 </div>
 
 
 
 
 
 
 

 <div class="desc">
 <a href="/textbooks/shortell-and-kaluznys-healthcare-management-organization-design-and-behavior-6th-edition/9781435488182"  class="product_title">Shortell and Kaluzny's Healthcare Management: Organization Design and Behavior</a> 
 <span class="by">by Burns, Lawton, Bradley, Eli...</span>
 <span class="results_list_price">ISBN: 9781435488182</span> 
 
 <span class="results_list_price">List Price: $162.95</span>
 </div>
 </div>
 <div class="price">
 <a href="/textbooks/shortell-and-kaluznys-healthcare-management-organization-design-and-behavior-6th-edition/9781435488182#default=buy" class="buy_it">$49.27
 <span class="savingsBuy">(Save 69%)</span>
 </a>
 <a href="/textbooks/shortell-and-kaluznys-healthcare-management-organization-design-and-behavior-6th-edition/9781435488182#default=rent" class="rent_it">$74.51
 <span class="savingsRent">(Save 54%)</span> 
 </a>
 <a rel="nofollow" href="/SellBack.AddItem_AddItem.do?query=9781435488182#AddRemoveDestAnchor" rel="nofollow" class="sell_it">Own it? Sell it back for <span>$79.50</span></a>
 </div></div><div class="result_listing">
 <div class="number">14.</div>
 <div class="info">
 <div class="product_thumb">
 <a href="/textbooks/fundamentals-of-futures-and-options-markets-8th-edition-8th-edition/9780132993340" >
 
  
 <div class="book_image_container">
 <img src="http://img.valorebooks.com/W120/97/9780/978013/9780132993340.jpg" width="91" alt="Fundamentals of Futures and Options Markets (8th Edition)" /> 
 <div class="book_binding"></div>
 </div>
 
 
 </a>
 </div>
 
 
 
 
 
 
 

 <div class="desc">
 <a href="/textbooks/fundamentals-of-futures-and-options-markets-8th-edition-8th-edition/9780132993340"  class="product_title">Fundamentals of Futures and Options Markets (8th Edition)</a> 
 <span class="by">by John C. Hull</span>
 <span class="results_list_price">ISBN: 9780132993340</span> 
 
 <span class="results_list_price">List Price: $213.33</span>
 </div>
 </div>
 <div class="price">
 <a href="/textbooks/fundamentals-of-futures-and-options-markets-8th-edition-8th-edition/9780132993340#default=buy" class="buy_it">$13.68
 <span class="savingsBuy">(Save 93%)</span>
 </a>
 <a href="/textbooks/fundamentals-of-futures-and-options-markets-8th-edition-8th-edition/9780132993340#default=rent" class="rent_it">$27.66
 <span class="savingsRent">(Save 87%)</span> 
 </a>
 <a rel="nofollow" href="/SellBack.AddItem_AddItem.do?query=9780132993340#AddRemoveDestAnchor" rel="nofollow" class="sell_it">Own it? Sell it back for <span>$86.35</span></a>
 </div></div><div class="result_listing">
 <div class="number">15.</div>
 <div class="info">
 <div class="product_thumb">
 <a href="/textbooks/system-dynamics-3rd-edition/9780073398068" >
 
  
 <div class="book_image_container">
 <img src="http://img.valorebooks.com/W120/97/9780/978007/9780073398068.jpg" width="91" alt="System Dynamics" /> 
 <div class="book_binding"></div>
 </div>
 
 
 </a>
 </div>
 
 
 
 
 
 
 

 <div class="desc">
 <a href="/textbooks/system-dynamics-3rd-edition/9780073398068"  class="product_title">System Dynamics</a> 
 <span class="by">by William Palm III</span>
 <span class="results_list_price">ISBN: 9780073398068</span> 

 </div>
 </div>
 <div class="price">
 <a href="/textbooks/system-dynamics-3rd-edition/9780073398068#default=buy" class="buy_it">$44.85
 </a>
 <a href="/textbooks/system-dynamics-3rd-edition/9780073398068#default=rent" class="rent_it">$19.20 
 </a>
 <a rel="nofollow" href="/SellBack.AddItem_AddItem.do?query=9780073398068#AddRemoveDestAnchor" rel="nofollow" class="sell_it">Own it? Sell it back for <span>$79.95</span></a>
 </div></div><div class="result_listing">
 <div class="number">16.</div>
 <div class="info">
 <div class="product_thumb">
 <a href="/textbooks/animal-diversity/9780073524252" >
 
  
 <div class="book_image_container">
 <img src="http://img.valorebooks.com/W120/97/9780/978007/9780073524252.jpg" width="91" alt="Animal Diversity" /> 
 <div class="book_binding"></div>
 </div>
 
 
 </a>
 </div>
 
 
 
 
 
 
 

 <div class="desc">
 <a href="/textbooks/animal-diversity/9780073524252"  class="product_title">Animal Diversity</a> 
 <span class="by">by Hickman</span>
 <span class="results_list_price">ISBN: 9780073524252</span> 

 </div>
 </div>
 <div class="price">
 <a href="/textbooks/animal-diversity/9780073524252#default=buy" class="buy_it">$36.76
 </a>
 <a href="/textbooks/animal-diversity/9780073524252#default=rent" class="rent_it">$41.65 
 </a>
 <a rel="nofollow" href="/SellBack.AddItem_AddItem.do?query=9780073524252#AddRemoveDestAnchor" rel="nofollow" class="sell_it">Own it? Sell it back for <span>$76.81</span></a>
 </div></div><div class="result_listing">
 <div class="number">17.</div>
 <div class="info">
 <div class="product_thumb">
 <a href="/textbooks/principles-of-heat-transfer-7th-edition/9780495667704" >
 
  
 <div class="book_image_container">
 <img src="http://img.valorebooks.com/W120/97/9780/978049/9780495667704.jpg" width="91" alt="Principles of Heat Transfer" /> 
 <div class="book_binding"></div>
 </div>
 
 
 </a>
 </div>
 
 
 
 
 
 
 

 <div class="desc">
 <a href="/textbooks/principles-of-heat-transfer-7th-edition/9780495667704"  class="product_title">Principles of Heat Transfer</a> 
 <span class="by">by Kreith, Frank, Bohn, Mark, ...</span>
 <span class="results_list_price">ISBN: 9780495667704</span> 
 
 <span class="results_list_price">List Price: $199.95</span>
 </div>
 </div>
 <div class="price">
 <a href="/textbooks/principles-of-heat-transfer-7th-edition/9780495667704#default=buy" class="buy_it">$174.99
 <span class="savingsBuy">(Save 12%)</span>
 </a>
 <a href="/textbooks/principles-of-heat-transfer-7th-edition/9780495667704#default=rent" class="rent_it">$219.24 
 </a>
 <a rel="nofollow" href="/SellBack.AddItem_AddItem.do?query=9780495667704#AddRemoveDestAnchor" rel="nofollow" class="sell_it">Own it? Sell it back for <span>$77.59</span></a>
 </div></div><div class="result_listing">
 <div class="number">18.</div>
 <div class="info">
 <div class="product_thumb">
 <a href="/textbooks/shigleys-mechanical-engineering-design-mcgraw-hill-series-in-mechanical-engineering-9th-edition/9780073529288" >
 
  
 <div class="book_image_container">
 <img src="http://img.valorebooks.com/W120/97/9780/978007/9780073529288.jpg" width="91" alt="Shigley's Mechanical Engineering Design (Mcgraw-Hill Series in Mechanical Engineering)" /> 
 <div class="book_binding"></div>
 </div>
 
 
 </a>
 </div>
 
 
 
 
 
 
 

 <div class="desc">
 <a href="/textbooks/shigleys-mechanical-engineering-design-mcgraw-hill-series-in-mechanical-engineering-9th-edition/9780073529288"  class="product_title">Shigley's Mechanical Engineering Design (Mcgraw-Hill Series in Mechanical Engineering)</a> 
 <span class="by">by Richard Budynas, Keith Nisbett</span>
 <span class="results_list_price">ISBN: 9780073529288</span> 
 
 <span class="results_list_price">List Price: $200.03</span>
 </div>
 </div>
 <div class="price">
 <a href="/textbooks/shigleys-mechanical-engineering-design-mcgraw-hill-series-in-mechanical-engineering-9th-edition/9780073529288#default=buy" class="buy_it">$17.13
 <span class="savingsBuy">(Save 91%)</span>
 </a>
 <a href="/textbooks/shigleys-mechanical-engineering-design-mcgraw-hill-series-in-mechanical-engineering-9th-edition/9780073529288#default=rent" class="rent_it">$18.55
 <span class="savingsRent">(Save 90%)</span> 
 </a>
 <a rel="nofollow" href="/SellBack.AddItem_AddItem.do?query=9780073529288#AddRemoveDestAnchor" rel="nofollow" class="sell_it">Own it? Sell it back for <span>$87.80</span></a>
 </div></div><div class="result_listing">
 <div class="number">19.</div>
 <div class="info">
 <div class="product_thumb">
 <a href="/textbooks/business-communication-process-and-product-with-meguffeycom-printed-access-card-8th-edition/9781285094069" >
 
  
 <div class="book_image_container">
 <img src="http://img.valorebooks.com/W120/97/9781/978128/9781285094069.jpg" width="91" alt="Business Communication: Process and Product (with meguffey.com Printed Access Card)" /> 
 <div class="book_binding"></div>
 </div>
 
 
 </a>
 </div>
 
 
 
 
 
 
 

 <div class="desc">
 <a href="/textbooks/business-communication-process-and-product-with-meguffeycom-printed-access-card-8th-edition/9781285094069"  class="product_title">Business Communication: Process and Product (with meguffey.com Printed Access Card)</a> 
 <span class="by">by Mary Ellen Guffey, Dana Loewy</span>
 <span class="results_list_price">ISBN: 9781285094069</span> 
 
 <span class="results_list_price">List Price: $253.95</span>
 </div>
 </div>
 <div class="price">
 <a href="/textbooks/business-communication-process-and-product-with-meguffeycom-printed-access-card-8th-edition/9781285094069#default=buy" class="buy_it">$100.62
 <span class="savingsBuy">(Save 60%)</span>
 </a>
 <a href="/textbooks/business-communication-process-and-product-with-meguffeycom-printed-access-card-8th-edition/9781285094069#default=rent" class="rent_it">$49.69
 <span class="savingsRent">(Save 80%)</span> 
 </a>
 <a rel="nofollow" href="/SellBack.AddItem_AddItem.do?query=9781285094069#AddRemoveDestAnchor" rel="nofollow" class="sell_it">Own it? Sell it back for <span>$89.20</span></a>
 </div></div><div class="result_listing">
 <div class="number">20.</div>
 <div class="info">
 <div class="product_thumb">
 <a href="/textbooks/loose-leaf-version-for-human-biology-13th-edition/9780077596101" >
 
  
 <div class="book_image_container">
 <img src="http://img.valorebooks.com/W120/97/9780/978007/9780077596101.jpg" width="91" alt="Loose Leaf Version for Human Biology" /> 
 <div class="book_binding"></div>
 </div>
 
 
 </a>
 </div>
 
 
 
 
 
 
 

 <div class="desc">
 <a href="/textbooks/loose-leaf-version-for-human-biology-13th-edition/9780077596101"  class="product_title">Loose Leaf Version for Human Biology</a> 
 <span class="by">by Mader, Sylvia</span>
 <span class="results_list_price">ISBN: 9780077596101</span> 

 </div>
 </div>
 <div class="price">
 <a href="/textbooks/loose-leaf-version-for-human-biology-13th-edition/9780077596101#default=buy" class="buy_it">$5.48
 </a>
 </div></div><div class="result_listing">
 <div class="number">21.</div>
 <div class="info">
 <div class="product_thumb">
 <a href="/textbooks/loose-leaf-crafting-and-executing-strategy-the-quest-for-competitive-advantage-concepts-and-cases-19th-edition/9780077537104" >
 
  
 <div class="book_image_container">
 <img src="http://img.valorebooks.com/W120/97/9780/978007/9780077537104.jpg" width="91" alt="Loose-Leaf Crafting and Executing Strategy: the Quest for Competitive Advantage: Concepts an..." /> 
 <div class="book_binding"></div>
 </div>
 
 
 </a>
 </div>
 
 
 
 
 
 
 

 <div class="desc">
 <a href="/textbooks/loose-leaf-crafting-and-executing-strategy-the-quest-for-competitive-advantage-concepts-and-cases-19th-edition/9780077537104"  class="product_title">Loose-Leaf Crafting and Executing Strategy: the Quest for Competitive Advantage: Concepts an...</a> 
 <span class="by">by Thompson, Arthur, Gamble, J...</span>
 <span class="results_list_price">ISBN: 9780077537104</span> 
 
 <span class="results_list_price">List Price: $184.48</span>
 </div>
 </div>
 <div class="price">
 <a href="/textbooks/loose-leaf-crafting-and-executing-strategy-the-quest-for-competitive-advantage-concepts-and-cases-19th-edition/9780077537104#default=buy" class="buy_it">$51.51
 <span class="savingsBuy">(Save 72%)</span>
 </a>
 <a href="/textbooks/loose-leaf-crafting-and-executing-strategy-the-quest-for-competitive-advantage-concepts-and-cases-19th-edition/9780077537104#default=rent" class="rent_it">$35.25
 <span class="savingsRent">(Save 80%)</span> 
 </a>
 <a rel="nofollow" href="/SellBack.AddItem_AddItem.do?query=9780077537104#AddRemoveDestAnchor" rel="nofollow" class="sell_it">Own it? Sell it back for <span>$5.35</span></a>
 </div></div><div class="result_listing">
 <div class="number">22.</div>
 <div class="info">
 <div class="product_thumb">
 <a href="/textbooks/fundamentals-of-management-essential-concepts-and-applications-9th-edition/9780133499919" >
 
 
 <img src="http://img.valorebooks.com/images/book_coverW120.png" width="91" alt="Fundamentals of Management : Essential Concepts and Applications" />
 
 
 </a>
 </div>
 
 
 
 
 
 
 

 <div class="desc">
 <a href="/textbooks/fundamentals-of-management-essential-concepts-and-applications-9th-edition/9780133499919"  class="product_title">Fundamentals of Management : Essential Concepts and Applications</a> 
 <span class="by">by Robbins, Stephen P., De Cen...</span>
 <span class="results_list_price">ISBN: 9780133499919</span> 
 
 <span class="results_list_price">List Price: $205.80</span>
 </div>
 </div>
 <div class="price">
 <a href="/textbooks/fundamentals-of-management-essential-concepts-and-applications-9th-edition/9780133499919#default=buy" class="buy_it">$40.89
 <span class="savingsBuy">(Save 80%)</span>
 </a>
 <a href="/textbooks/fundamentals-of-management-essential-concepts-and-applications-9th-edition/9780133499919#default=rent" class="rent_it">$44.43
 <span class="savingsRent">(Save 78%)</span> 
 </a>
 <a rel="nofollow" href="/SellBack.AddItem_AddItem.do?query=9780133499919#AddRemoveDestAnchor" rel="nofollow" class="sell_it">Own it? Sell it back for <span>$81.99</span></a>
 </div></div><div class="result_listing">
 <div class="number">23.</div>
 <div class="info">
 <div class="product_thumb">
 <a href="/textbooks/introduction-to-quantum-mechanics-2nd-edition-2ndth-edition/9780131118928" >
 
  
 <div class="book_image_container">
 <img src="http://img.valorebooks.com/W120/97/9780/978013/9780131118928.jpg" width="91" alt="Introduction to Quantum Mechanics (2nd Edition)" /> 
 <div class="book_binding"></div>
 </div>
 
 
 </a>
 </div>
 
 
 
 
 
 
 

 <div class="desc">
 <a href="/textbooks/introduction-to-quantum-mechanics-2nd-edition-2ndth-edition/9780131118928"  class="product_title">Introduction to Quantum Mechanics (2nd Edition)</a> 
 <span class="by">by David J. Griffiths</span>
 <span class="results_list_price">ISBN: 9780131118928</span> 
 
 <span class="results_list_price">List Price: $168.00</span>
 </div>
 </div>
 <div class="price">
 <a href="/textbooks/introduction-to-quantum-mechanics-2nd-edition-2ndth-edition/9780131118928#default=buy" class="buy_it">$11.83
 <span class="savingsBuy">(Save 92%)</span>
 </a>
 <a href="/textbooks/introduction-to-quantum-mechanics-2nd-edition-2ndth-edition/9780131118928#default=rent" class="rent_it">$32.95
 <span class="savingsRent">(Save 80%)</span> 
 </a>
 <a rel="nofollow" href="/SellBack.AddItem_AddItem.do?query=9780131118928#AddRemoveDestAnchor" rel="nofollow" class="sell_it">Own it? Sell it back for <span>$61.00</span></a>
 </div></div><div class="result_listing">
 <div class="number">24.</div>
 <div class="info">
 <div class="product_thumb">
 <a href="/textbooks/how-to-design-and-evaluate-research-in-education-9th-edition/9780078110399" >
 
  
 <div class="book_image_container">
 <img src="http://img.valorebooks.com/W120/97/9780/978007/9780078110399.jpg" width="91" alt="How to Design and Evaluate Research in Education" /> 
 <div class="book_binding"></div>
 </div>
 
 
 </a>
 </div>
 
 
 
 
 
 
 

 <div class="desc">
 <a href="/textbooks/how-to-design-and-evaluate-research-in-education-9th-edition/9780078110399"  class="product_title">How to Design and Evaluate Research in Education</a> 
 <span class="by">by Fraenkel, Wallen, Hyun</span>
 <span class="results_list_price">ISBN: 9780078110399</span> 
 
 <span class="results_list_price">List Price: $110.07</span>
 </div>
 </div>
 <div class="price">
 <a href="/textbooks/how-to-design-and-evaluate-research-in-education-9th-edition/9780078110399#default=buy" class="buy_it">$46.94
 <span class="savingsBuy">(Save 57%)</span>
 </a>
 <a href="/textbooks/how-to-design-and-evaluate-research-in-education-9th-edition/9780078110399#default=rent" class="rent_it">$52.15
 <span class="savingsRent">(Save 52%)</span> 
 </a>
 <a rel="nofollow" href="/SellBack.AddItem_AddItem.do?query=9780078110399#AddRemoveDestAnchor" rel="nofollow" class="sell_it">Own it? Sell it back for <span>$101.92</span></a>
 </div></div><div class="result_listing">
 <div class="number">25.</div>
 <div class="info">
 <div class="product_thumb">
 <a href="/textbooks/the-gregg-reference-manual-a-manual-of-style-grammar-usage-and-formatting-tribute-edition-11th-edition/9780073397108" >
 
  
 <div class="book_image_container">
 <img src="http://img.valorebooks.com/W120/97/9780/978007/9780073397108.jpg" width="91" alt="The Gregg Reference Manual: A Manual of Style, Grammar, Usage, and Formatting Tribute Edition" /> 
 <div class="book_binding"></div>
 </div>
 
 
 </a>
 </div>
 
 
 
 
 
 
 

 <div class="desc">
 <a href="/textbooks/the-gregg-reference-manual-a-manual-of-style-grammar-usage-and-formatting-tribute-edition-11th-edition/9780073397108"  class="product_title">The Gregg Reference Manual: A Manual of Style, Grammar, Usage, and Formatting Tribute Edition</a> 
 <span class="by">by Sabin, William</span>
 <span class="results_list_price">ISBN: 9780073397108</span> 
 
 <span class="results_list_price">List Price: $139.69</span>
 </div>
 </div>
 <div class="price">
 <a href="/textbooks/the-gregg-reference-manual-a-manual-of-style-grammar-usage-and-formatting-tribute-edition-11th-edition/9780073397108#default=buy" class="buy_it">$64.15
 <span class="savingsBuy">(Save 54%)</span>
 </a>
 <a href="/textbooks/the-gregg-reference-manual-a-manual-of-style-grammar-usage-and-formatting-tribute-edition-11th-edition/9780073397108#default=rent" class="rent_it">$39.44
 <span class="savingsRent">(Save 71%)</span> 
 </a>
 <a rel="nofollow" href="/SellBack.AddItem_AddItem.do?query=9780073397108#AddRemoveDestAnchor" rel="nofollow" class="sell_it">Own it? Sell it back for <span>$39.00</span></a>
 </div></div><div class="result_listing">
 <div class="number">26.</div>
 <div class="info">
 <div class="product_thumb">
 <a href="/textbooks/physical-examination-and-health-assessment-6th-edition/9781437701517" >
 
  
 <div class="book_image_container">
 <img src="http://img.valorebooks.com/W120/97/9781/978143/9781437701517.jpg" width="91" alt="Physical Examination and Health Assessment" /> 
 <div class="book_binding"></div>
 </div>
 
 
 </a>
 </div>
 
 
 
 
 
 
 

 <div class="desc">
 <a href="/textbooks/physical-examination-and-health-assessment-6th-edition/9781437701517"  class="product_title">Physical Examination and Health Assessment</a> 
 <span class="by">by Carolyn Jarvis PhD  APN  CNP</span>
 <span class="results_list_price">ISBN: 9781437701517</span> 
 
 <span class="results_list_price">List Price: $105.00</span>
 </div>
 </div>
 <div class="price">
 <a href="/textbooks/physical-examination-and-health-assessment-6th-edition/9781437701517#default=buy" class="buy_it">$3.90
 <span class="savingsBuy">(Save 96%)</span>
 </a>
 <a href="/textbooks/physical-examination-and-health-assessment-6th-edition/9781437701517#default=rent" class="rent_it">$16.98
 <span class="savingsRent">(Save 83%)</span> 
 </a>
 </div></div><div class="result_listing">
 <div class="number">27.</div>
 <div class="info">
 <div class="product_thumb">
 <a href="/textbooks/information-systems-today-managing-in-the-digital-world-6th-edition-6th-edition/9780132971218" >
 
  
 <div class="book_image_container">
 <img src="http://img.valorebooks.com/W120/97/9780/978013/9780132971218.jpg" width="91" alt="Information Systems Today: Managing in the Digital World (6th Edition)" /> 
 <div class="book_binding"></div>
 </div>
 
 
 </a>
 </div>
 
 
 
 
 
 
 

 <div class="desc">
 <a href="/textbooks/information-systems-today-managing-in-the-digital-world-6th-edition-6th-edition/9780132971218"  class="product_title">Information Systems Today: Managing in the Digital World (6th Edition)</a> 
 <span class="by">by Joseph Valacich, Christoph ...</span>
 <span class="results_list_price">ISBN: 9780132971218</span> 
 
 <span class="results_list_price">List Price: $209.20</span>
 </div>
 </div>
 <div class="price">
 <a href="/textbooks/information-systems-today-managing-in-the-digital-world-6th-edition-6th-edition/9780132971218#default=buy" class="buy_it">$15.51
 <span class="savingsBuy">(Save 92%)</span>
 </a>
 <a href="/textbooks/information-systems-today-managing-in-the-digital-world-6th-edition-6th-edition/9780132971218#default=rent" class="rent_it">$22.79
 <span class="savingsRent">(Save 89%)</span> 
 </a>
 <a rel="nofollow" href="/SellBack.AddItem_AddItem.do?query=9780132971218#AddRemoveDestAnchor" rel="nofollow" class="sell_it">Own it? Sell it back for <span>$23.78</span></a>
 </div></div><div class="result_listing">
 <div class="number">28.</div>
 <div class="info">
 <div class="product_thumb">
 <a href="/textbooks/principles-of-geotechnical-engineering-8th-edition/9781133108665" >
 
  
 <div class="book_image_container">
 <img src="http://img.valorebooks.com/W120/97/9781/978113/9781133108665.jpg" width="91" alt="Principles of Geotechnical Engineering" /> 
 <div class="book_binding"></div>
 </div>
 
 
 </a>
 </div>
 
 
 
 
 
 
 

 <div class="desc">
 <a href="/textbooks/principles-of-geotechnical-engineering-8th-edition/9781133108665"  class="product_title">Principles of Geotechnical Engineering</a> 
 <span class="by">by Unknown</span>
 <span class="results_list_price">ISBN: 9781133108665</span> 
 
 <span class="results_list_price">List Price: $228.95</span>
 </div>
 </div>
 <div class="price">
 <a href="/textbooks/principles-of-geotechnical-engineering-8th-edition/9781133108665#default=buy" class="buy_it">$17.29
 <span class="savingsBuy">(Save 92%)</span>
 </a>
 <a href="/textbooks/principles-of-geotechnical-engineering-8th-edition/9781133108665#default=rent" class="rent_it">$38.62
 <span class="savingsRent">(Save 83%)</span> 
 </a>
 <a rel="nofollow" href="/SellBack.AddItem_AddItem.do?query=9781133108665#AddRemoveDestAnchor" rel="nofollow" class="sell_it">Own it? Sell it back for <span>$67.42</span></a>
 </div></div><div class="result_listing">
 <div class="number">29.</div>
 <div class="info">
 <div class="product_thumb">
 <a href="/textbooks/holes-human-anatomy-and-physiology/9780078024290" >
 
  
 <div class="book_image_container">
 <img src="http://img.valorebooks.com/W120/97/9780/978007/9780078024290.jpg" width="91" alt="Hole's Human Anatomy and Physiology" /> 
 <div class="book_binding"></div>
 </div>
 
 
 </a>
 </div>
 
 
 
 
 
 
 

 <div class="desc">
 <a href="/textbooks/holes-human-anatomy-and-physiology/9780078024290"  class="product_title">Hole's Human Anatomy and Physiology</a> 
 <span class="by">by Shier, David, Butler, Jacki...</span>
 <span class="results_list_price">ISBN: 9780078024290</span> 

 </div>
 </div>
 <div class="price">
 <a href="/textbooks/holes-human-anatomy-and-physiology/9780078024290#default=buy" class="buy_it">$45.03
 </a>
 <a href="/textbooks/holes-human-anatomy-and-physiology/9780078024290#default=rent" class="rent_it">$53.05 
 </a>
 <a rel="nofollow" href="/SellBack.AddItem_AddItem.do?query=9780078024290#AddRemoveDestAnchor" rel="nofollow" class="sell_it">Own it? Sell it back for <span>$110.75</span></a>
 </div></div><div class="result_listing">
 <div class="number">30.</div>
 <div class="info">
 <div class="product_thumb">
 <a href="/textbooks/manufacturing-processes-for-engineering-materials-5th-edition-5th-edition/9780132272711" >
 
  
 <div class="book_image_container">
 <img src="http://img.valorebooks.com/W120/97/9780/978013/9780132272711.jpg" width="91" alt="Manufacturing Processes for Engineering Materials (5th Edition)" /> 
 <div class="book_binding"></div>
 </div>
 
 
 </a>
 </div>
 
 
 
 
 
 
 

 <div class="desc">
 <a href="/textbooks/manufacturing-processes-for-engineering-materials-5th-edition-5th-edition/9780132272711"  class="product_title">Manufacturing Processes for Engineering Materials (5th Edition)</a> 
 <span class="by">by Serope Kalpakjian, Steven S...</span>
 <span class="results_list_price">ISBN: 9780132272711</span> 
 
 <span class="results_list_price">List Price: $205.00</span>
 </div>
 </div>
 <div class="price">
 <a href="/textbooks/manufacturing-processes-for-engineering-materials-5th-edition-5th-edition/9780132272711#default=buy" class="buy_it">$20.20
 <span class="savingsBuy">(Save 90%)</span>
 </a>
 <a href="/textbooks/manufacturing-processes-for-engineering-materials-5th-edition-5th-edition/9780132272711#default=rent" class="rent_it">$75.22
 <span class="savingsRent">(Save 63%)</span> 
 </a>
 <a rel="nofollow" href="/SellBack.AddItem_AddItem.do?query=9780132272711#AddRemoveDestAnchor" rel="nofollow" class="sell_it">Own it? Sell it back for <span>$94.40</span></a>
 </div></div><div class="result_listing">
 <div class="number">31.</div>
 <div class="info">
 <div class="product_thumb">
 <a href="/textbooks/fundamentals-of-engineering-thermodynamics-7th-edition/9780470495902" >
 
  
 <div class="book_image_container">
 <img src="http://img.valorebooks.com/W120/97/9780/978047/9780470495902.jpg" width="91" alt="Fundamentals of Engineering Thermodynamics" /> 
 <div class="book_binding"></div>
 </div>
 
 
 </a>
 </div>
 
 
 
 
 
 
 

 <div class="desc">
 <a href="/textbooks/fundamentals-of-engineering-thermodynamics-7th-edition/9780470495902"  class="product_title">Fundamentals of Engineering Thermodynamics</a> 
 <span class="by">by Borgnakke, Moran, Michael J...</span>
 <span class="results_list_price">ISBN: 9780470495902</span> 
 
 <span class="results_list_price">List Price: $210.95</span>
 </div>
 </div>
 <div class="price">
 <a href="/textbooks/fundamentals-of-engineering-thermodynamics-7th-edition/9780470495902#default=buy" class="buy_it">$18.20
 <span class="savingsBuy">(Save 91%)</span>
 </a>
 <a href="/textbooks/fundamentals-of-engineering-thermodynamics-7th-edition/9780470495902#default=rent" class="rent_it">$21.27
 <span class="savingsRent">(Save 89%)</span> 
 </a>
 <a rel="nofollow" href="/SellBack.AddItem_AddItem.do?query=9780470495902#AddRemoveDestAnchor" rel="nofollow" class="sell_it">Own it? Sell it back for <span>$21.80</span></a>
 </div></div><div class="result_listing">
 <div class="number">32.</div>
 <div class="info">
 <div class="product_thumb">
 <a href="/textbooks/small-business-management-an-entrepreneurs-guidebook-7th-edition/9780078029097" >
 
  
 <div class="book_image_container">
 <img src="http://img.valorebooks.com/W120/97/9780/978007/9780078029097.jpg" width="91" alt="Small Business Management : An Entrepreneur's Guidebook" /> 
 <div class="book_binding"></div>
 </div>
 
 
 </a>
 </div>
 
 
 
 
 
 
 

 <div class="desc">
 <a href="/textbooks/small-business-management-an-entrepreneurs-guidebook-7th-edition/9780078029097"  class="product_title">Small Business Management : An Entrepreneur's Guidebook</a> 
 <span class="by">by Byrd, Megginson</span>
 <span class="results_list_price">ISBN: 9780078029097</span> 
 
 <span class="results_list_price">List Price: $220.00</span>
 </div>
 </div>
 <div class="price">
 <a href="/textbooks/small-business-management-an-entrepreneurs-guidebook-7th-edition/9780078029097#default=buy" class="buy_it">$28.88
 <span class="savingsBuy">(Save 86%)</span>
 </a>
 <a href="/textbooks/small-business-management-an-entrepreneurs-guidebook-7th-edition/9780078029097#default=rent" class="rent_it">$22.73
 <span class="savingsRent">(Save 89%)</span> 
 </a>
 <a rel="nofollow" href="/SellBack.AddItem_AddItem.do?query=9780078029097#AddRemoveDestAnchor" rel="nofollow" class="sell_it">Own it? Sell it back for <span>$57.85</span></a>
 </div></div><div class="result_listing">
 <div class="number">33.</div>
 <div class="info">
 <div class="product_thumb">
 <a href="/textbooks/abnormal-psychology-dsm-5-update-8th-edition/9781464137198" >
 
 
 <img src="http://img.valorebooks.com/images/book_coverW120.png" width="91" alt="Abnormal Psychology--DSM-5 Update" />
 
 
 </a>
 </div>
 
 
 
 
 
 
 

 <div class="desc">
 <a href="/textbooks/abnormal-psychology-dsm-5-update-8th-edition/9781464137198"  class="product_title">Abnormal Psychology--DSM-5 Update</a> 
 <span class="by">by Comer, Ronald J.</span>
 <span class="results_list_price">ISBN: 9781464137198</span> 

 </div>
 </div>
 <div class="price">
 <a href="/textbooks/abnormal-psychology-dsm-5-update-8th-edition/9781464137198#default=buy" class="buy_it">$30.70
 </a>
 <a href="/textbooks/abnormal-psychology-dsm-5-update-8th-edition/9781464137198#default=rent" class="rent_it">$22.79 
 </a>
 <a rel="nofollow" href="/SellBack.AddItem_AddItem.do?query=9781464137198#AddRemoveDestAnchor" rel="nofollow" class="sell_it">Own it? Sell it back for <span>$15.80</span></a>
 </div></div><div class="result_listing">
 <div class="number">34.</div>
 <div class="info">
 <div class="product_thumb">
 <a href="/textbooks/the-developing-person-through-the-life-span-8th-reviseth-edition/9781429232036" >
 
  
 <div class="book_image_container">
 <img src="http://img.valorebooks.com/W120/97/9781/978142/9781429232036.jpg" width="91" alt="The Developing Person Through the Life Span" /> 
 <div class="book_binding"></div>
 </div>
 
 
 </a>
 </div>
 
 
 
 
 
 
 

 <div class="desc">
 <a href="/textbooks/the-developing-person-through-the-life-span-8th-reviseth-edition/9781429232036"  class="product_title">The Developing Person Through the Life Span</a> 
 <span class="by">by Berger, Berger, Kathleen St...</span>
 <span class="results_list_price">ISBN: 9781429232036</span> 
 
 <span class="results_list_price">List Price: $161.25</span>
 </div>
 </div>
 <div class="price">
 <a href="/textbooks/the-developing-person-through-the-life-span-8th-reviseth-edition/9781429232036#default=buy" class="buy_it">$4.99
 <span class="savingsBuy">(Save 96%)</span>
 </a>
 <a href="/textbooks/the-developing-person-through-the-life-span-8th-reviseth-edition/9781429232036#default=rent" class="rent_it">$9.99
 <span class="savingsRent">(Save 93%)</span> 
 </a>
 </div></div><div class="result_listing">
 <div class="number">35.</div>
 <div class="info">
 <div class="product_thumb">
 <a href="/textbooks/practical-argument-a-text-and-anthology-2nd-edition/9781457622373" >
 
  
 <div class="book_image_container">
 <img src="http://img.valorebooks.com/W120/97/9781/978145/9781457622373.jpg" width="91" alt="Practical Argument : A Text and Anthology" /> 
 <div class="book_binding"></div>
 </div>
 
 
 </a>
 </div>
 
 
 
 
 
 
 

 <div class="desc">
 <a href="/textbooks/practical-argument-a-text-and-anthology-2nd-edition/9781457622373"  class="product_title">Practical Argument : A Text and Anthology</a> 
 <span class="by">by Kirszner, Laurie G., Mandel...</span>
 <span class="results_list_price">ISBN: 9781457622373</span> 

 </div>
 </div>
 <div class="price">
 <a href="/textbooks/practical-argument-a-text-and-anthology-2nd-edition/9781457622373#default=buy" class="buy_it">$41.31
 </a>
 <a href="/textbooks/practical-argument-a-text-and-anthology-2nd-edition/9781457622373#default=rent" class="rent_it">$16.48 
 </a>
 <a rel="nofollow" href="/SellBack.AddItem_AddItem.do?query=9781457622373#AddRemoveDestAnchor" rel="nofollow" class="sell_it">Own it? Sell it back for <span>$24.50</span></a>
 </div></div><div class="result_listing">
 <div class="number">36.</div>
 <div class="info">
 <div class="product_thumb">
 <a href="/textbooks/thermodynamics-for-engineers-1st-edition/9781133112860" >
 
  
 <div class="book_image_container">
 <img src="http://img.valorebooks.com/W120/97/9781/978113/9781133112860.jpg" width="91" alt="Thermodynamics for Engineers" /> 
 <div class="book_binding"></div>
 </div>
 
 
 </a>
 </div>
 
 
 
 
 
 
 

 <div class="desc">
 <a href="/textbooks/thermodynamics-for-engineers-1st-edition/9781133112860"  class="product_title">Thermodynamics for Engineers</a> 
 <span class="by">by Kenneth A. Kroos, Merle C. ...</span>
 <span class="results_list_price">ISBN: 9781133112860</span> 
 
 <span class="results_list_price">List Price: $194.95</span>
 </div>
 </div>
 <div class="price">
 <a href="/textbooks/thermodynamics-for-engineers-1st-edition/9781133112860#default=buy" class="buy_it">$41.61
 <span class="savingsBuy">(Save 78%)</span>
 </a>
 <a href="/textbooks/thermodynamics-for-engineers-1st-edition/9781133112860#default=rent" class="rent_it">$72.70
 <span class="savingsRent">(Save 62%)</span> 
 </a>
 <a rel="nofollow" href="/SellBack.AddItem_AddItem.do?query=9781133112860#AddRemoveDestAnchor" rel="nofollow" class="sell_it">Own it? Sell it back for <span>$46.50</span></a>
 </div></div><div class="result_listing">
 <div class="number">37.</div>
 <div class="info">
 <div class="product_thumb">
 <a href="/textbooks/public-finance-10th-edition/9780078021688" >
 
  
 <div class="book_image_container">
 <img src="http://img.valorebooks.com/W120/97/9780/978007/9780078021688.jpg" width="91" alt="Public Finance" /> 
 <div class="book_binding"></div>
 </div>
 
 
 </a>
 </div>
 
 
 
 
 
 
 

 <div class="desc">
 <a href="/textbooks/public-finance-10th-edition/9780078021688"  class="product_title">Public Finance</a> 
 <span class="by">by Rosen, Gayer</span>
 <span class="results_list_price">ISBN: 9780078021688</span> 

 </div>
 </div>
 <div class="price">
 <a href="/textbooks/public-finance-10th-edition/9780078021688#default=buy" class="buy_it">$34.90
 </a>
 <a href="/textbooks/public-finance-10th-edition/9780078021688#default=rent" class="rent_it">$44.65 
 </a>
 <a rel="nofollow" href="/SellBack.AddItem_AddItem.do?query=9780078021688#AddRemoveDestAnchor" rel="nofollow" class="sell_it">Own it? Sell it back for <span>$90.50</span></a>
 </div></div><div class="result_listing">
 <div class="number">38.</div>
 <div class="info">
 <div class="product_thumb">
 <a href="/textbooks/purchasing-and-supply-chain-management-3rd-edition/9780078024115" >
 
  
 <div class="book_image_container">
 <img src="http://img.valorebooks.com/W120/97/9780/978007/9780078024115.jpg" width="91" alt="Purchasing and Supply Chain Management" /> 
 <div class="book_binding"></div>
 </div>
 
 
 </a>
 </div>
 
 
 
 
 
 
 

 <div class="desc">
 <a href="/textbooks/purchasing-and-supply-chain-management-3rd-edition/9780078024115"  class="product_title">Purchasing and Supply Chain Management</a> 
 <span class="by">by Benton, W. C.</span>
 <span class="results_list_price">ISBN: 9780078024115</span> 

 </div>
 </div>
 <div class="price">
 <a href="/textbooks/purchasing-and-supply-chain-management-3rd-edition/9780078024115#default=buy" class="buy_it">$42.72
 </a>
 <a href="/textbooks/purchasing-and-supply-chain-management-3rd-edition/9780078024115#default=rent" class="rent_it">$22.79 
 </a>
 <a rel="nofollow" href="/SellBack.AddItem_AddItem.do?query=9780078024115#AddRemoveDestAnchor" rel="nofollow" class="sell_it">Own it? Sell it back for <span>$87.05</span></a>
 </div></div><div class="result_listing">
 <div class="number">39.</div>
 <div class="info">
 <div class="product_thumb">
 <a href="/textbooks/essentials-of-geology-4e-4th-edition/9780393919394" >
 
  
 <div class="book_image_container">
 <img src="http://img.valorebooks.com/W120/97/9780/978039/9780393919394.jpg" width="91" alt="Essentials of Geology 4E" /> 
 <div class="book_binding"></div>
 </div>
 
 
 </a>
 </div>
 
 
 
 
 
 
 

 <div class="desc">
 <a href="/textbooks/essentials-of-geology-4e-4th-edition/9780393919394"  class="product_title">Essentials of Geology 4E</a> 
 <span class="by">by Marshak</span>
 <span class="results_list_price">ISBN: 9780393919394</span> 
 
 <span class="results_list_price">List Price: $90.92</span>
 </div>
 </div>
 <div class="price">
 <a href="/textbooks/essentials-of-geology-4e-4th-edition/9780393919394#default=buy" class="buy_it">$60.43
 <span class="savingsBuy">(Save 33%)</span>
 </a>
 <a href="/textbooks/essentials-of-geology-4e-4th-edition/9780393919394#default=rent" class="rent_it">$22.79
 <span class="savingsRent">(Save 74%)</span> 
 </a>
 <a rel="nofollow" href="/SellBack.AddItem_AddItem.do?query=9780393919394#AddRemoveDestAnchor" rel="nofollow" class="sell_it">Own it? Sell it back for <span>$28.70</span></a>
 </div></div><div class="result_listing">
 <div class="number">40.</div>
 <div class="info">
 <div class="product_thumb">
 <a href="/textbooks/probability-and-stochastic-processes-a-friendly-introduction-for-electrical-and-computer-engineers-3rd-edition/9781118324561" >
 
  
 <div class="book_image_container">
 <img src="http://img.valorebooks.com/W120/97/9781/978111/9781118324561.jpg" width="91" alt="Probability and Stochastic Processes` : A Friendly Introduction for Electrical and Computer ..." /> 
 <div class="book_binding"></div>
 </div>
 
 
 </a>
 </div>
 
 
 
 
 
 
 

 <div class="desc">
 <a href="/textbooks/probability-and-stochastic-processes-a-friendly-introduction-for-electrical-and-computer-engineers-3rd-edition/9781118324561"  class="product_title">Probability and Stochastic Processes` : A Friendly Introduction for Electrical and Computer ...</a> 
 <span class="by">by Yates, Roy D.</span>
 <span class="results_list_price">ISBN: 9781118324561</span> 
 
 <span class="results_list_price">List Price: $160.95</span>
 </div>
 </div>
 <div class="price">
 <a href="/textbooks/probability-and-stochastic-processes-a-friendly-introduction-for-electrical-and-computer-engineers-3rd-edition/9781118324561#default=buy" class="buy_it">$66.97
 <span class="savingsBuy">(Save 58%)</span>
 </a>
 <a href="/textbooks/probability-and-stochastic-processes-a-friendly-introduction-for-electrical-and-computer-engineers-3rd-edition/9781118324561#default=rent" class="rent_it">$43.38
 <span class="savingsRent">(Save 73%)</span> 
 </a>
 <a rel="nofollow" href="/SellBack.AddItem_AddItem.do?query=9781118324561#AddRemoveDestAnchor" rel="nofollow" class="sell_it">Own it? Sell it back for <span>$70.75</span></a>
 </div></div><div class="result_listing">
 <div class="number">41.</div>
 <div class="info">
 <div class="product_thumb">
 <a href="/textbooks/we-the-people-an-introduction-to-american-politics-9th-edition/9780393921106" >
 
  
 <div class="book_image_container">
 <img src="http://img.valorebooks.com/W120/97/9780/978039/9780393921106.jpg" width="91" alt="We the People : An Introduction to American Politics" /> 
 <div class="book_binding"></div>
 </div>
 
 
 </a>
 </div>
 
 
 
 
 
 
 

 <div class="desc">
 <a href="/textbooks/we-the-people-an-introduction-to-american-politics-9th-edition/9780393921106"  class="product_title">We the People : An Introduction to American Politics</a> 
 <span class="by">by Ginsberg, Benjamin, Lowi, T...</span>
 <span class="results_list_price">ISBN: 9780393921106</span> 
 
 <span class="results_list_price">List Price: $23.44</span>
 </div>
 </div>
 <div class="price">
 <a href="/textbooks/we-the-people-an-introduction-to-american-politics-9th-edition/9780393921106#default=buy" class="buy_it">$15.63
 <span class="savingsBuy">(Save 33%)</span>
 </a>
 <a href="/textbooks/we-the-people-an-introduction-to-american-politics-9th-edition/9780393921106#default=rent" class="rent_it">$15.00
 <span class="savingsRent">(Save 36%)</span> 
 </a>
 <a rel="nofollow" href="/SellBack.AddItem_AddItem.do?query=9780393921106#AddRemoveDestAnchor" rel="nofollow" class="sell_it">Own it? Sell it back for <span>$8.20</span></a>
 </div></div><div class="result_listing">
 <div class="number">42.</div>
 <div class="info">
 <div class="product_thumb">
 <a href="/textbooks/ethical-dilemmas-and-decisions-in-criminal-justice-8th-edition/9781285062662" >
 
  
 <div class="book_image_container">
 <img src="http://img.valorebooks.com/W120/97/9781/978128/9781285062662.jpg" width="91" alt="Ethical Dilemmas and Decisions in Criminal Justice" /> 
 <div class="book_binding"></div>
 </div>
 
 
 </a>
 </div>
 
 
 
 
 
 
 

 <div class="desc">
 <a href="/textbooks/ethical-dilemmas-and-decisions-in-criminal-justice-8th-edition/9781285062662"  class="product_title">Ethical Dilemmas and Decisions in Criminal Justice</a> 
 <span class="by">by Pollock, Joycelyn M.</span>
 <span class="results_list_price">ISBN: 9781285062662</span> 
 
 <span class="results_list_price">List Price: $153.95</span>
 </div>
 </div>
 <div class="price">
 <a href="/textbooks/ethical-dilemmas-and-decisions-in-criminal-justice-8th-edition/9781285062662#default=buy" class="buy_it">$74.47
 <span class="savingsBuy">(Save 51%)</span>
 </a>
 <a href="/textbooks/ethical-dilemmas-and-decisions-in-criminal-justice-8th-edition/9781285062662#default=rent" class="rent_it">$22.37
 <span class="savingsRent">(Save 85%)</span> 
 </a>
 <a rel="nofollow" href="/SellBack.AddItem_AddItem.do?query=9781285062662#AddRemoveDestAnchor" rel="nofollow" class="sell_it">Own it? Sell it back for <span>$46.00</span></a>
 </div></div><div class="result_listing">
 <div class="number">43.</div>
 <div class="info">
 <div class="product_thumb">
 <a href="/textbooks/leadership-experience-6th-edition/9781435462854" >
 
  
 <div class="book_image_container">
 <img src="http://img.valorebooks.com/W120/97/9781/978143/9781435462854.jpg" width="91" alt="Leadership Experience" /> 
 <div class="book_binding"></div>
 </div>
 
 
 </a>
 </div>
 
 
 
 
 
 
 

 <div class="desc">
 <a href="/textbooks/leadership-experience-6th-edition/9781435462854"  class="product_title">Leadership Experience</a> 
 <span class="by">by Daft, Richard L.</span>
 <span class="results_list_price">ISBN: 9781435462854</span> 
 
 <span class="results_list_price">List Price: $321.95</span>
 </div>
 </div>
 <div class="price">
 <a href="/textbooks/leadership-experience-6th-edition/9781435462854#default=buy" class="buy_it">$107.95
 <span class="savingsBuy">(Save 66%)</span>
 </a>
 <a href="/textbooks/leadership-experience-6th-edition/9781435462854#default=rent" class="rent_it">$52.43
 <span class="savingsRent">(Save 83%)</span> 
 </a>
 <a rel="nofollow" href="/SellBack.AddItem_AddItem.do?query=9781435462854#AddRemoveDestAnchor" rel="nofollow" class="sell_it">Own it? Sell it back for <span>$93.95</span></a>
 </div></div><div class="result_listing">
 <div class="number">44.</div>
 <div class="info">
 <div class="product_thumb">
 <a href="/textbooks/global-marketing-management-6th-edition/9781118466483" >
 
  
 <div class="book_image_container">
 <img src="http://img.valorebooks.com/W120/97/9781/978111/9781118466483.jpg" width="91" alt="Global Marketing Management" /> 
 <div class="book_binding"></div>
 </div>
 
 
 </a>
 </div>
 
 
 
 
 
 
 

 <div class="desc">
 <a href="/textbooks/global-marketing-management-6th-edition/9781118466483"  class="product_title">Global Marketing Management</a> 
 <span class="by">by Kotabe, Masaaki (Mike), Hel...</span>
 <span class="results_list_price">ISBN: 9781118466483</span> 
 
 <span class="results_list_price">List Price: $218.95</span>
 </div>
 </div>
 <div class="price">
 <a href="/textbooks/global-marketing-management-6th-edition/9781118466483#default=buy" class="buy_it">$19.22
 <span class="savingsBuy">(Save 91%)</span>
 </a>
 <a href="/textbooks/global-marketing-management-6th-edition/9781118466483#default=rent" class="rent_it">$56.06
 <span class="savingsRent">(Save 74%)</span> 
 </a>
 <a rel="nofollow" href="/SellBack.AddItem_AddItem.do?query=9781118466483#AddRemoveDestAnchor" rel="nofollow" class="sell_it">Own it? Sell it back for <span>$72.35</span></a>
 </div></div><div class="result_listing">
 <div class="number">45.</div>
 <div class="info">
 <div class="product_thumb">
 <a href="/textbooks/introduction-to-operations-research-with-student-access-card-10th-edition/9781259162985" >
 
  
 <div class="book_image_container">
 <img src="http://img.valorebooks.com/W120/97/9781/978125/9781259162985.jpg" width="91" alt="Introduction to Operations Research with Student Access Card" /> 
 <div class="book_binding"></div>
 </div>
 
 
 </a>
 </div>
 
 
 
 
 
 
 

 <div class="desc">
 <a href="/textbooks/introduction-to-operations-research-with-student-access-card-10th-edition/9781259162985"  class="product_title">Introduction to Operations Research with Student Access Card</a> 
 <span class="by">by Hillier</span>
 <span class="results_list_price">ISBN: 9781259162985</span> 

 </div>
 </div>
 <div class="price">
 <a href="/textbooks/introduction-to-operations-research-with-student-access-card-10th-edition/9781259162985#default=buy" class="buy_it">$44.93
 </a>
 <a href="/textbooks/introduction-to-operations-research-with-student-access-card-10th-edition/9781259162985#default=rent" class="rent_it">$44.92 
 </a>
 <a rel="nofollow" href="/SellBack.AddItem_AddItem.do?query=9781259162985#AddRemoveDestAnchor" rel="nofollow" class="sell_it">Own it? Sell it back for <span>$100.00</span></a>
 </div></div><div class="result_listing">
 <div class="number">46.</div>
 <div class="info">
 <div class="product_thumb">
 <a href="/textbooks/merrills-pocket-guide-to-radiography-12e-12th-edition/9780323073325" >
 
  
 <div class="book_image_container">
 <img src="http://img.valorebooks.com/W120/97/9780/978032/9780323073325.jpg" width="91" alt="Merrill's Pocket Guide to Radiography, 12e" /> 
 <div class="book_binding"></div>
 </div>
 
 
 </a>
 </div>
 
 
 
 
 
 
 

 <div class="desc">
 <a href="/textbooks/merrills-pocket-guide-to-radiography-12e-12th-edition/9780323073325"  class="product_title">Merrill's Pocket Guide to Radiography, 12e</a> 
 <span class="by">by Eugene D. Frank MA  RT(R)  ...</span>
 <span class="results_list_price">ISBN: 9780323073325</span> 
 
 <span class="results_list_price">List Price: $44.95</span>
 </div>
 </div>
 <div class="price">
 <a href="/textbooks/merrills-pocket-guide-to-radiography-12e-12th-edition/9780323073325#default=buy" class="buy_it">$21.71
 <span class="savingsBuy">(Save 51%)</span>
 </a>
 <a href="/textbooks/merrills-pocket-guide-to-radiography-12e-12th-edition/9780323073325#default=rent" class="rent_it">$92.43 
 </a>
 <a rel="nofollow" href="/SellBack.AddItem_AddItem.do?query=9780323073325#AddRemoveDestAnchor" rel="nofollow" class="sell_it">Own it? Sell it back for <span>$13.50</span></a>
 </div></div><div class="result_listing">
 <div class="number">47.</div>
 <div class="info">
 <div class="product_thumb">
 <a href="/textbooks/elementary-statistics-plus-mystatlab-student-access-code-card-12th-edition/9780321890238" >
 
  
 <div class="book_image_container">
 <img src="http://img.valorebooks.com/W120/97/9780/978032/9780321890238.jpg" width="91" alt="Elementary Statistics Plus Mystatlab Student Access Code Card" /> 
 <div class="book_binding"></div>
 </div>
 
 
 </a>
 </div>
 
 
 
 
 
 
 

 <div class="desc">
 <a href="/textbooks/elementary-statistics-plus-mystatlab-student-access-code-card-12th-edition/9780321890238"  class="product_title">Elementary Statistics Plus Mystatlab Student Access Code Card</a> 
 <span class="by">by Triola, Mario F.</span>
 <span class="results_list_price">ISBN: 9780321890238</span> 
 
 <span class="results_list_price">List Price: $186.67</span>
 </div>
 </div>
 <div class="price">
 <a href="/textbooks/elementary-statistics-plus-mystatlab-student-access-code-card-12th-edition/9780321890238#default=buy" class="buy_it">$92.61
 <span class="savingsBuy">(Save 50%)</span>
 </a>
 <a href="/textbooks/elementary-statistics-plus-mystatlab-student-access-code-card-12th-edition/9780321890238#default=rent" class="rent_it">$63.50
 <span class="savingsRent">(Save 65%)</span> 
 </a>
 <a rel="nofollow" href="/SellBack.AddItem_AddItem.do?query=9780321890238#AddRemoveDestAnchor" rel="nofollow" class="sell_it">Own it? Sell it back for <span>$75.65</span></a>
 </div></div><div class="result_listing">
 <div class="number">48.</div>
 <div class="info">
 <div class="product_thumb">
 <a href="/textbooks/current-issues-and-enduring-questions-a-guide-to-critical-thinking-and-argument-with-readings-10th-edition/9781457622601" >
 
  
 <div class="book_image_container">
 <img src="http://img.valorebooks.com/W120/97/9781/978145/9781457622601.jpg" width="91" alt="Current Issues and Enduring Questions : A Guide to Critical Thinking and Argument, with Read..." /> 
 <div class="book_binding"></div>
 </div>
 
 
 </a>
 </div>
 
 
 
 
 
 
 

 <div class="desc">
 <a href="/textbooks/current-issues-and-enduring-questions-a-guide-to-critical-thinking-and-argument-with-readings-10th-edition/9781457622601"  class="product_title">Current Issues and Enduring Questions : A Guide to Critical Thinking and Argument, with Read...</a> 
 <span class="by">by Barnet, Sylvan, Bedau, Hugo</span>
 <span class="results_list_price">ISBN: 9781457622601</span> 

 </div>
 </div>
 <div class="price">
 <a href="/textbooks/current-issues-and-enduring-questions-a-guide-to-critical-thinking-and-argument-with-readings-10th-edition/9781457622601#default=buy" class="buy_it">$37.61
 </a>
 <a href="/textbooks/current-issues-and-enduring-questions-a-guide-to-critical-thinking-and-argument-with-readings-10th-edition/9781457622601#default=rent" class="rent_it">$21.75 
 </a>
 <a rel="nofollow" href="/SellBack.AddItem_AddItem.do?query=9781457622601#AddRemoveDestAnchor" rel="nofollow" class="sell_it">Own it? Sell it back for <span>$27.63</span></a>
 </div></div><div class="result_listing">
 <div class="number">49.</div>
 <div class="info">
 <div class="product_thumb">
 <a href="/textbooks/industrialorganizational-psychology-an-applied-approach-7th-edition/9781111839970" >
 
  
 <div class="book_image_container">
 <img src="http://img.valorebooks.com/W120/97/9781/978111/9781111839970.jpg" width="91" alt="Industrial/Organizational Psychology : An Applied Approach" /> 
 <div class="book_binding"></div>
 </div>
 
 
 </a>
 </div>
 
 
 
 
 
 
 

 <div class="desc">
 <a href="/textbooks/industrialorganizational-psychology-an-applied-approach-7th-edition/9781111839970"  class="product_title">Industrial/Organizational Psychology : An Applied Approach</a> 
 <span class="by">by Aamodt, Michael G.</span>
 <span class="results_list_price">ISBN: 9781111839970</span> 
 
 <span class="results_list_price">List Price: $286.95</span>
 </div>
 </div>
 <div class="price">
 <a href="/textbooks/industrialorganizational-psychology-an-applied-approach-7th-edition/9781111839970#default=buy" class="buy_it">$16.50
 <span class="savingsBuy">(Save 94%)</span>
 </a>
 <a href="/textbooks/industrialorganizational-psychology-an-applied-approach-7th-edition/9781111839970#default=rent" class="rent_it">$23.53
 <span class="savingsRent">(Save 91%)</span> 
 </a>
 <a rel="nofollow" href="/SellBack.AddItem_AddItem.do?query=9781111839970#AddRemoveDestAnchor" rel="nofollow" class="sell_it">Own it? Sell it back for <span>$25.30</span></a>
 </div></div><div class="result_listing">
 <div class="number">50.</div>
 <div class="info">
 <div class="product_thumb">
 <a href="/textbooks/traffic-and-highway-engineering-5th-edition/9781133605157" >
 
  
 <div class="book_image_container">
 <img src="http://img.valorebooks.com/W120/97/9781/978113/9781133605157.jpg" width="91" alt="Traffic and Highway Engineering" /> 
 <div class="book_binding"></div>
 </div>
 
 
 </a>
 </div>
 
 
 
 
 
 
 

 <div class="desc">
 <a href="/textbooks/traffic-and-highway-engineering-5th-edition/9781133605157"  class="product_title">Traffic and Highway Engineering</a> 
 <span class="by">by Nicholas J. Garber, Lester ...</span>
 <span class="results_list_price">ISBN: 9781133605157</span> 
 
 <span class="results_list_price">List Price: $198.95</span>
 </div>
 </div>
 <div class="price">
 <a href="/textbooks/traffic-and-highway-engineering-5th-edition/9781133605157#default=buy" class="buy_it">$22.40
 <span class="savingsBuy">(Save 88%)</span>
 </a>
 <a href="/textbooks/traffic-and-highway-engineering-5th-edition/9781133605157#default=rent" class="rent_it">$32.41
 <span class="savingsRent">(Save 83%)</span> 
 </a>
 <a rel="nofollow" href="/SellBack.AddItem_AddItem.do?query=9781133605157#AddRemoveDestAnchor" rel="nofollow" class="sell_it">Own it? Sell it back for <span>$88.50</span></a>
 </div></div>
 <div class="sub_bar sub_bar_no_pointer"> 
